body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

h1 span {
    font-size: 60px;
    line-height: 60px;
    font-weight: bolder;
    color: #ffffff;
}

.hamburger-menu {
    display: none;
}


.wrapper {
    width: 1024px;
    margin: 0 auto;
    padding: 0;
}


/*********************/
/*      BUTTON      */
/*******************/
.button-outer {
    padding: 2px;
    border-radius: 5px;
    background-color: #aaaaaa;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    display: block;
}

.button-inner {
    padding: 2px;
    border-radius: 5px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 45%, rgba(224,224,224,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(45%, rgba(240,240,240,1)), color-stop(100%, rgba(224,224,224,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 45%, rgba(224,224,224,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 45%, rgba(224,224,224,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 45%, rgba(224,224,224,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 45%, rgba(224,224,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=0 );
}

.button-text {
    text-align: center;
    margin: 0;
    padding: 5px 0 1px 0;
}

.button-outer:hover {
    background-color: #000000;
}

.button-outer:hover .button-inner {
    color: #ffffff;
    background: rgba(186,101,108,1);
    background: -moz-linear-gradient(top, rgba(186,101,108,1) 0%, rgba(156,28,37,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(186,101,108,1)), color-stop(100%, rgba(156,28,37,1)));
    background: -webkit-linear-gradient(top, rgba(186,101,108,1) 0%, rgba(156,28,37,1) 100%);
    background: -o-linear-gradient(top, rgba(186,101,108,1) 0%, rgba(156,28,37,1) 100%);
    background: -ms-linear-gradient(top, rgba(186,101,108,1) 0%, rgba(156,28,37,1) 100%);
    background: linear-gradient(to bottom, rgba(186,101,108,1) 0%, rgba(156,28,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba656c', endColorstr='#9c1c25', GradientType=0 );
}


/*************************/
/*      NAVIGATION      */
/***********************/
.nav-container {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #9c1b24;
    -webkit-box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
    z-index: 2;
}

.nav {
    width: 1024px;
    margin: 0 auto;
    padding: 15px 20px;
}

.logo {
    width: 50px;
    margin: 10px 0 10px 30px;
    float: left;
}

.nav-links {
    display: block;
    margin: 26px 20px 20px 20px;
    float: right;
    font-size: 24px;
    line-height: 24px;
}

.nav-links div {
    display: inline-block;
    margin: 0 30px 0 0;
}

.nav-links div:last-child {
    margin: 0;
}

.nav-links a {
    color: #ffffff;
}

.nav-links a:hover {
    color: #000000;
    font-weight: bold;
}


/********************/
/*      HEADER     */
/******************/
.header {
    position: relative;
    background-image: url('../images/header.jpg');
    height: 500px;
}

.header-content {
    margin: 0 12px 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.header .button-outer {
    width: 200px;
    height: 46px;
    margin: 25px 131px;
}

.header .button-inner {
    width: 196px;
    height: 42px;
}

.header .button-text {
    font-size: 36px;
    line-height: 36px;
}


/*********************/
/*      CONTENT     */
/*******************/
.content {
    margin: 12px 130px 0 130px;
    position: relative;
}


/******************************/
/*      FEATURED CONTENT     */
/****************************/
.content.features {
    margin: 12px 12px 20px 12px;
    color: #ffffff;
}

.content.features a {
    color: #ffffff;
}

.main-feature {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

.more-features {
    display: inline-block;
    position: relative;
    margin: 0 0 0 5px;
    padding: 0;
}

.more-features .feature-3, .more-features .feature-5 {
    margin: 10px 0 0 0;
}

.features .blurb-box {
    position: absolute;
    top: 0;
    background-color: #000000;
    opacity: 0.85;
}

.features .more {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px 10px 0;
}

.features .arrow {
    display: inline-block;
}

.main-feature .blurb-box {
    width: 450px;
    height: 210px;
    padding: 20px;
    top: 350px;
}

.main-feature .title {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 10px 0;
}

.main-feature .blurb {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 10px 0;
}

.main-feature .more {
    font-size: 24px;
    line-height: 24px;
}

.more-features .blurb-box {
    width: 225px;
    height: 105px;
    padding: 10px;
}

.more-features .feature-2 .blurb-box {
    top: 150px;
}
.more-features .feature-3 .blurb-box,
.more-features .feature-5 .blurb-box {
    top: 480px;
}
.more-features .feature-4 .blurb-box {
    top: 75px;
}

.more-features .title {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 7px 0;
}

.more-features .blurb {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 7px 0;
}

.more-features .more {
    font-size: 16px;
    line-height: 16px;
}



/******************/
/*      POSTS    */
/****************/
.post {
    position: relative;
    margin: 0 0 20px 0;
    color: #ffffff;
}

.post a {
    color: #ffffff;
}

.post .heart {
    background-image: url('/images/heart.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.post .heart.clicked {
    background-image: url('/images/hearted.png');
    background-repeat: no-repeat;
}

.post .blurb-box {
    width: 764px;
    height: 200px;
    position: absolute;
    top: 300px;
    background-color: #000000;
    opacity: 0.85;
}

.post .bookmark {
    background-image: url('/images/bookmark-lg.png');
    background-repeat: no-repeat;
    width: 25px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.post .bookmark.clicked {
        background-image: url('/images/bookmarked-lg.png');
        background-repeat: no-repeat;
    }

.post .title h2 {
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    margin: 15px 80px 5px 15px;
}

.post .date {
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 10px 15px;
    display: block;
}

.post .blurb {
    font-size: 16px;
    line-height: 16px;
    margin: 0 15px 10px 15px;
    display: block;
}

.post .blurb p {
    margin: 0;
}

.post .more {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px 0 15px;
}

.post .arrow {
    display: inline-block;
    cursor: pointer;
}


/******************/
/*      ENTRY    */
/****************/
.entry .title {
    font-family: 'Muli', sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    margin: 0 0 7px 0;
}

.entry .date {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

.entry img {
    margin: 0 0 20px 0;
}

.entry .blog-text {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

.entry .seo-tags {
    font-size: 16px;
    line-height: 16px;
    margin: 20px 0;
}

.entry .tag {
    display: inline-block;
    padding: 8px;
    margin: 0 10px 0 0;
    background-color: #cccccc;
}


/****************************/
/*      ENTRY - SHARE      */
/**************************/
.share-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#share {
    width: 50px;
    position: absolute;
    top: 91px;
    margin: 0 0 0 50px;
}

.share-icon {
    margin: 10px 0 20px 10px;
    cursor: pointer;
}

.share-icon.heart {
    background-image: url('/images/heart-share.png');
    background-repeat: no-repeat;
    margin: 0 0 20px 10px;
}
.share-icon.heart.clicked {
    background-image: url('/images/hearted-share.png');
}

.share-icon.bookmark {
    background-image: url('/images/bookmark-share.png');
    background-repeat: no-repeat;
}
.share-icon.bookmark.clicked {
    background-image: url('/images/bookmarked-share.png');
}

.share-text {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}




/*********************/
/*      FOOTER      */
/*******************/
.footer {
    padding: 40px 80px;
    height: 75px;
    background-color: #9c1b24;
}

.footer .logo-footer {
    float: left;
}

.footer .social-footer {
    float: right;
}

.footer .button-outer {
    width: 116px;
    height: 31px;
    margin: 20px 95px 20px 15px;
    display: inline-block;
}

.footer .button-inner {
    width: 112px;
    height: 27px;
}

.footer .button-text {
    font-size: 20px;
    line-height: 20px;
}

.footer .social-icons {
    margin: 23px 0 22px 0;
    display: inline-block;
}

.footer .social-icons div {
    margin: 0 30px 0 0;
    display: inline-block;
}

.footer .social-icons div:last-child {
    margin: 0;
}



/****************************/
/*      FOOTER BOTTOM      */
/**************************/
.footer-btm {
    height: 25px;
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    background-color: #710a11;
}

.footer-btm .copyright {
    margin: 7px 0 6px 12px;
    float: left;
}

.footer-btm .copyright p {
    margin: 0;
}

.footer-btm .terms-policy {
    margin: 7px 12px 6px 0;
    float: right;
}

.footer-btm .terms-policy div {
    display: inline-block;
    margin: 0 0 0 10px;
}

.footer-btm a {
    color: #ffffff;
}



/*********************/
/*      TABLET      */
/*******************/
@media screen and (max-width: 1024px) {
    .hamburger-menu {
        display: none;
    }

    .wrapper,
    .nav {
        width: 768px;
    }

    h1 {
        font-size: 27px;
        line-height: 27px;
    }

    h1 span {
        font-size: 45px;
        line-height: 45px;
    }

    .header .button-outer {
        width: 150px;
        height: 34px;
        margin: 18px 98.25px;
    }

    .header {
        background-image: url('../images/header-tablet.jpg');
        background-repeat: no-repeat;
        height: 374px;
    }

    .header .button-inner {
        width: 146px;
        height: 30px;
    }

    .header .button-text {
        font-size: 27px;
        line-height: 27px;
        padding: 0;
    }

    .content {
        margin: 12px 97.5px 0 97.5px;
    }

    .post-img {
        width: 573px;
    }

    .post .blurb-box {
        width: 573px;
        height: 150px;
        top: 225px;
    }

    .post .bookmark {
        top: 10px;
    }

    .post .title h2 {
        font-size: 20px;
        line-height: 20px;
        margin: 10px 0 5px 10px;
    }

    .post .blurb {
        font-size: 14px;
        line-height: 14px;
        margin: 0 10px 10px 10px;
        height: 57px;
        width: 533px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .post .date {
        margin: 0 0 10px 10px;
    }

    .post .more {
        font-size: 14px;
        line-height: 14px;
        margin: 0 10px;
    }

    .post .arrow img {
        width: 14px;
    }

    #share {
        margin: 0 0 0 30px;
    }

    .footer {
        padding: 40px 30px;
    }
}



/*********************/
/*      MOBILE      */
/*******************/
@media screen and (max-width: 768px) {
    .wrapper, .nav {
        width: 320px;
    }

    .nav-links {
        display: none;
    }

    .logo {
        margin: 10px 0;
        width: 50px;
    }

    .logo img {
        width: 50px;
    }

    .nav-links {
        margin: 26px 0;
        font-size: 14px;
        line-height: 14px;
    }

    .nav-links div {
        margin: 0 15px 0 0;
    }

    .header {
        background-image: url('../images/header-mobile.jpg');
        height: 250px;
    }

    .header-content {
        bottom: 0;
        right: 0;
        margin: 0;
    }

    h1 {
        font-size: 20px;
        line-height: 20px;
    }

    h1 span {
        font-size: 27px;
        line-height: 27px;
    }

    .header .button-outer {
        margin: 10px 40px;
    }


    .content {
        margin: 10px 0 30px 0;
    }

    .post-img {
        width: 320px;
    }

    .post .blurb-box {
        width: 320px;
        height: 86px;
        top: 123px;
    }

    .post .heart {
        top: 10px;
        right: 10px;
    }

    .post .bookmark {
        top: 10px;
        right: 10px;
    }

    .post .title h2 {
        font-size: 20px;
        line-height: 20px;
        margin: 10px 70px 6px 10px;
    }

    .post .blurb {
        display: none;
    }

    .post .date {
        font-size: 12px;
        line-height: 12px;
        margin: 0 70px 12px 10px;
    }

    .post .more {
        font-size: 16px;
        line-height: 16px;
        margin: 0 0 10px 10px;
    }

    .post .arrow img {
        width: 14px;
    }

    #share {
        margin: 0;
        width: 320px;
        height: 50px;
        top: 277px;
        z-index: 5;
        background-color: #ffffff;
        opacity: 0.65;
    }

    #share .share-icon, #share .share-text {
        display: inline-block;
        position: absolute;
    }

    #share .share-icon.heart {
        left: 14px;
        top: 10px;
    }

    #share .share-icon.bookmark {
        left: 74px;
    }

    #share .share-text {
        top: 17px;
        left: 134px;
    }

    #share .share-icon.twitter {
        right: 74px;
    }

    #share .share-icon.facebook {
        right: 14px;
    }

    .entry .title {
        font-size: 36px;
        line-height: 36px; 
    }

    .entry .date {
        margin: 0 0 15px 0;
    }

    .entry .img {
        margin: 0 0 15px 0;
    }

    .entry .tag {
        margin: 0 10px 10px 0;
    }

    .footer {
        padding: 35px 10px;
        height: 75px;
    }

    .logo-footer img {
        width: 75px;
    }

    .footer .button-outer {
        width: 116px;
        height: 31px;
        margin: 0 0 10px 30px;
    }

    .footer .button-inner {
        width: 112px;
        height: 27px;
    }

    .footer .button-text {
        font-size: 20px;
        line-height: 20px;
    }

    .footer .social-icons {
        margin: 0;
        display: block;
    }

    .footer .social-icons div {
        margin: 0 20px 0 0;
    }

    .footer-btm {
        width: 320px;
        height: 72px;
        font-size: 14px;
        line-height: 16px;
    }

    .footer-btm .copyright {
        margin: 0;
        padding: 8px 10px;
        width: 320px;
        text-align: center;
    }

    .footer-btm .copyright span {
        display: block;
    }

    .footer-btm .terms-policy {
        margin: 0;
        padding: 0 0 8px 0;
        float: none;
        width: 320px;
        text-align: center;
    }

    /*********************/
    /*  HAMBURGER MENU  */
    /*******************/
    .hamburger-menu {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 3;
        color: #000000;
        text-transform: uppercase;
    }

        .hamburger-menu div {
            display: none;
        }

        .hamburger-menu button {
            position: absolute;
            top: 10px;
            right: 5%;
            border: 0;
            text-indent: 200%;
            overflow: hidden;
            background: url("http://i.imgur.com/vKRaKDX.png") center no-repeat;
            background-size: 80%;
            width: 30px;
            height: 30px;
            outline: none;
            -webkit-transition: all 400ms ease;
            transition: all 400ms ease;
            cursor: pointer;
        }

            .hamburger-menu button.expanded {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                background-color: transparent;
                border: 0;
            }

        .hamburger-menu a {
            display: block;
            background: #9c1b24;
            text-align: center;
            padding: 20px 0;
            border-bottom: 1px solid #710a11;
            text-decoration: none;
            color: #ffffff;
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;
        }

            .hamburger-menu a:hover,
            .hamburger-menu a:active,
            .hamburger-menu a:focus {
                color: #000000;
                font-weight: bold;
            }
}